<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>
        body {
            text-align: center;
            font-family: monospace;
        }
        main {
            max-width: 600px;
            margin: 20vh auto;
        }
        p {
            text-align: left;
        }
    </style>
</head>
<body>
    <main>
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
        <button onclick="location.href='/enaqbz'">{{ article_button }}</button>
        <button onclick="location.href='https://maryknize.com'">{{ my_button }}</button>
    </main>
</body>
</html>